.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.navLinks {
  display: flex;
  align-items: center;
}
.navLinks > li {
  margin: 0 20px;
}

.loginBnt {
  padding: 8px 25px;
  background-color: #53c38b;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #53c38b;
  cursor: pointer;
}
