.layout_container {
  max-width: 1260px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: #333;
  color: #fff;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
